.square {
    background-color: #DDDDDD;
    border: 1px solid black;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicked_square {
    background-color: #FFFFFF;
    border: 1px solid black;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main {
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 250px; 
    display: flex;
    gap:2px;
    flex-wrap: wrap;
}


.score {
    display: flex;
    flex-direction: column;
}